<footer class="footer">
    <div class="container">
        <br>
        <div class="row">             
            <div class="col-4 offset-1 col-sm-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Form</a></li>
                    <li><a href="#">List</a></li>                    
                    
                </ul>
            </div>
            <div class="col-7 col-sm-5">
                <h5>Contact Information</h5>
                <address>
                    <i class="fa fa-phone fa-lg"></i>: +57 3024615600<br>
                    <i class="fa fa-envelope fa-lg"></i>: 
                    <a href="mailto:daniel.jose.45@hotmail.com">daniel.jose.45@hotmail.com</a>
               </address>
            </div>
            <div class="col-12 col-sm-4 align-self-center">
                <div class="text-center">
                    <a class="btn btn-social-icon btn-github" href="https://github.com/daniel9917"><i class="fa fa-github fa-3x"></i></a>                    
                    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/jose-daniel-jimenez-medina-014ab620b/"><i class="fa fa-linkedin fa-3x"></i></a>                    
                    <a class="btn btn-social-icon" href="mailto:jjdevpr@gmail.com"><i class="fa fa-envelope-o fa-3x"></i></a>
                </div>
            </div>
       </div>
        
        <br>
       <div class="row justify-content-center">             
            <div class="col-auto">
                <p>Developed by José Jimenez</p>
            </div>
       </div>
    </div>
</footer>