<form [formGroup] = "locationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name"> Name of the Location: </label>
    <input type="text" formControlName="name" id="name" placeholder="Name here" >
  </div>
  <div class="form-group">
    <label for="area"> Location Area in m<sup>2</sup></label>
    <input type="number" formControlName="area_m2" id="area_m2" placeholder="0">
  </div>

  <div class="form-group">
    <label> Parent Location</label>
    <select id = "selectParent" formControlName = "parentLocation">
      <option *ngFor=" let location of locations" value = "{{location.id}}">{{location.name}}</option>
    </select>
  </div>

  
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>

</form>